<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="facture.css">
</head>
<body>  
  <div id="card">
    <div id="bill" > 
    <h1>Purchase Bill </h1>  
    <p><strong class="heads" >Client Full Name:</strong> John Doe</p>
    <p><strong class="heads" >Date:</strong> 2025-04-13</p>
    <p><strong class="heads" >Hour:</strong> 10:30 AM</p>
    <p><strong class="heads" >Bill Number:</strong> #12345</p>
    <p><strong class="heads" >Purchased Product:</strong> Wireless Mouse</p>
    <p><strong class="heads" >Basic Price:</strong> $25.00</p>
    <p><strong class="heads" >Tax:</strong> $2.50</p>     
    <p><strong class="heads" >Final Price:</strong> $27.50</p> 
    <p><strong id="note">Note:</strong> This product is non-returnable and non-refundable.</p>
  </div>  
  <div id="buttons"> 
    <button>Print</button> 
    <button>Go Back</button>
  </div> 
</div>


</body>
</html>